body {
background: rgb(73,73,73);
background: linear-gradient(90deg, rgba(73,73,73,1) 0%, rgba(45,65,154,1) 60%, rgba(28,132,153,1) 100%);

}

table, th, td {
    border: 1px solid black;
    margin-top: 70px;
    margin-bottom: 20px;
    }
    th {
    background-color: #4CAF50;
    color: white;
    }
    tr {background-color: #f2f2f2;}
    

.btn btn-default { 
    padding: 15px;
}

.col-md-12 {
    font-size: 14pt;
   
    margin-bottom: 5%;
  }
  
  
  .container {
    width: 1000px;
  
  }

  .bodycontainer { max-height: 450px; width: 100%; margin: 0; overflow-y: auto; }
  .table-scrollable { margin: 0; padding: 0; }